doctype html
html
    head
        title Donors
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="Content-Type" content="text/html")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(href="/css4res.css" rel='stylesheet')
            
    body(style='background-color:black')

       header(class="w3-container w3-black w3-left" )
            h1(class="w3-margin w3-jumbo" style="background-color:#000000;color:#FFFFFF;") Oops, no donor available ;-(

